<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="blue lighten-4">
    <header>
        <nav>
            <div class="nav-wrapper black navbar-fixed">
                @Html.ActionLink("Biblioteca Impacta", "Index", "Home", new { area = "" }, new { @class = "brand-logo right" })
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Livro", "Index", "Livro")</li>
                    <li>@Html.ActionLink("Autor", "Index", "Autor")</li>
                </ul>
            </div>
        </nav>

        <ul class="sidenav" id="mobile-demo">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("Livro", "Index", "Livro")</li>
            <li>@Html.ActionLink("Autor", "Index", "Autor")</li>
        </ul>
    </header>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/materialize")
    <script type="text/javascript">
        $(document).ready(function () {
            $('select').formSelect();
            $('.modal').modal();
            $('.carousel').carousel();
            $('.parallax').parallax();
            $('.sidenav').sidenav();
        });
    </script>
    @RenderSection("scripts", required: false)

</body>
</html>
